#dv-blogs .label-category {
    color: #823eb7;
    font-size: 25px;
    text-transform: uppercase;
}

#dv-blogs .dv-blog {
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
    padding: 25px;
}

#dv-blogs img {
    height: 100%;
    width: 100%;
}

#dv-blogs .dv-blog .label-blogtitle {
    text-transform: uppercase;
}