#dv-blogs .label-category {
    color: #823eb7;
    font-size: 25px;
    text-transform: uppercase;
}

#dv-blogs .dv-blog {
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
    padding: 25px;
}

#dv-blogs .dv-blog .dv-image {
    height: 225px;
    width: 350px;
}

#dv-blogs .dv-image img {
    height: 100%;
    width: 100%;
}