#dv-home #dv-banner {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 900px;
}

#dv-home #label-title {
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#dv-home #span-subtitle {
    color: #b2b2b2;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#dv-home #img-aboutme {
    border-radius: 50%;
    width: 200px;
}

#dv-aboutme svg {
    color: #333;
    font-size: 37px;
}

#dv-home #dv-whatoffer svg {
    color: #823eb7;
    font-size: 55px;
}

#dv-home #dv-portfolio .portfolio-box {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

#dv-home #dv-portfolio img {
    height: 280px;
    width: 100%;
}