#dv-courses {
    background: #f0f2f5;
}

#dv-courses .dv-box {
    background-color: #fff;
}

#dv-courses .title {
    border-bottom: 1px solid #e8e8e8;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 16px 24px;
    width: 100%;
}

#dv-courses img {
    border-bottom: 1px solid #e8e8e8;
    padding: 16px 25px 20px;
    width: 100%;
}

#dv-courses .label-unlock {
    background: #fafafa;
    color: rgba(0, 0, 0, 0.45);
    font-size: 21px;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
}