#dv-footer {
    border-top: 1px solid #e4e4e4;
    padding: 18px 65px;
}

#dv-footer .small,
#dv-footer-contents .small {
    color: #545454;
    text-decoration: none;
}

#dv-footer a {
    text-decoration: none;
}

#dv-footer svg {
    color: #333;
    font-size: 30px;
}

#dv-footer-contents .sub-title {
    font-size: 20px;
}