body {
  color: #333;
  font-size: 25px;
  letter-spacing: 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dv-main {
  padding: 60px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: #333;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.sub-title {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0px 18px 0px;
}

.full-width {
  width: 100%;
}

.pre-line {
  white-space: pre-line;
}

.section-divider {
  border-top: 1px solid #e4e4e4;
  margin: 50px 0px;
}

.small {
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
